@model ChampionshipMvc3.Models.DataContext.Reservation
@using ChampionshipMvc3.Resources

<link href="../../Content/reservation-model-stylesheet.css" rel="stylesheet" />

<form style="text-align:center">    
    <div style ="text-align:left !important">
        <label>@Strings.bgName</label>
        <input type="text" id="reservationName" style="background-color: #d3ddc7; border-radius:5px; border:solid 1px; margin: 15px 15px 15px 41px" />
    </div>

    <br />
    <div style="text-align:left">
        <label>@Strings.bgPhone</label>
        <input type="text" id="reservationPhone" style="background-color: #d3ddc7; border-radius:5px; border:solid 1px; margin: 15px 15px 15px 11px" />
    </div>
    <div style="text-align:left">
        <label>@Strings.bgFutureWeeks</label>
        <select id="futureWeeks">
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
</form>  
    


