@using ChampionshipMvc3.Resources;

<table>
    <tr>
        <td>
            <label>@Strings.bgName: </label>
        </td>
        <td>
            <label id="reservationNameId"></label>
        </td>
    </tr>
    <tr>
        <td>
            <label>@Strings.bgPhone:</label>
        </td>
        <td>
            <label id="reservationPhoneId"></label>
        </td>
    </tr>
</table>


