@model IEnumerable<ChampionshipMvc3.Models.DataContext.Playfield>

@{
    ViewBag.Title = "Play Now";
}
<script src="../../Scripts/CustomScripts/crossBrowserFixes.js"></script>

<div id="inputForSearch">
    <div id="fyf">&nbsp<br />&nbsp<br />&nbsp</div>

    @using (Html.BeginForm("SearchPlayfieldsByCity", "Playfield", new { @class = "inputForm" }))
    {   
        <div class="searchInput">
            <input name="city" type="text" class="textBoxInput" id="search_city" placeholder="Въведете град" autocomplete="off" />
        </div>
            
        <div class="buttonInput">
            <input type="submit" value=""  class="inputButton" />
        </div>
    }

    @using (Html.BeginForm("SearchPlayfieldsByName", "Playfield", new { @class = "inputForm" }))
    {  
        <div>
            <div class="searchInput">
                <input name="name" type="text" class="textBoxInput" id="search_owner" placeholder="Въведете комплекс" autocomplete="off" />
            </div>
            <div class="buttonInput">
                <input type="submit" value=""  class="inputButton"/>
            </div>    
        </div>
    }
</div>
