@{
    ViewBag.Title = "Index";
}

<div>
    <div>
        <input id="footballSearchBtnId" 
            type="button" value="Football" 
            style="float: left; width: 300px; height: 200px; background-color:lightblue"/>
    </div>
    <div>
        <input id="tennisSearchBtnId" 
            type="button" value="Tennis" 
            style="float: right; width: 300px; height: 200px; background-color:lightblue" />
    </div>
</div>
<script src="../../Scripts/CustomScripts/homePageJS.js"></script>
