@{
    ViewBag.Title = "TennisSearchView";
}

<div id="inputForSearch">
    <div id="fyf">&nbsp<br />&nbsp<br />&nbsp</div>

    @using (Html.BeginForm("SearchTennisPlayfieldsByCity", "Playfield", new { @class = "inputForm" }))
    {   
        <div class="searchInput">
            <input name="city" type="text" class="textBoxInput" autocomplete="off" />
        </div>
            
        <div class="buttonInput">
            <input type="submit" value=""  class="inputButton" />
        </div>
    }

    @using (Html.BeginForm("SearchTenniPlayfieldsByName", "Playfield", new { @class = "inputForm" }))
    {  
        <div>
            <div class="searchInput">
                <input name="name" type="text" class="textBoxInput" autocomplete="off" />
            </div>
            <div class="buttonInput">
                <input type="submit" value=""  class="inputButton"/>
            </div>    
        </div>
    }
</div>
